.container {
    position: relative;
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
}

.moving-image {
    position: absolute;
    top: calc(50% - 30px);
    /* Center the image vertically and adjust by 30px */
    animation: moveUpDown 2s infinite;
    /* 2s duration, infinite iterations */
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
        /* Move 30px down */
    }
}