.App {
    display: flex;
}

.content {
    padding: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -350px;
   
    width: 350px;
    height: 100%;
    background-color: #f4f4f4;
    transition: 0.5s;
    padding: 20px;
}

.sidebar.open {
    right: 0;
}